[submodule "src/atwork_refbox_comm"]
	path = src/atwork_refbox_comm
	url = https://github.com/mkerschbaumer/atwork_refbox_comm
[submodule "src/atwork_refbox_ros_client"]
	path = src/atwork_refbox_ros_client
	url = https://github.com/mkerschbaumer/atwork_refbox_ros_client
